body {
	background-color: #364859;

}

p {
	padding: 5px 5px 5px 5px;	
}

.hero {
	font-family: 'Julius Sans One', sans-serif;
}

.projectHead{
	font-family: 'Julius Sans One', sans-serif;
}
h1 {
	
}

.brand {
	display: block;
	text-align: center;
}

.name {
	display: inline-block;
	text-align: center;
	justify-content: center;
}

.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.thumb {
	
  object-position: center; 
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
}

.img {
 	max-width: 600px;
 }

.main-img {
	display: block;
	height: 200px;
	width: auto;
}

.card-description {
	margin-top: 10px;
}


.badges {
	margin-top: 10px;
	padding-bottom: 0px;
}

#out-link-top{
	border-radius: 0% 0% 0% 0%;
}

#out-link-bottom{
	border-radius: 0% 0% 0% 0%;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}


.headshot {
	border-radius: 100%;
	border-style: solid;
	border-color: #17a2b8;
	width: 125px;
}

.btn {
	align-self: center;
	margin-bottom: 20px;
	border-radius: 0.25rem !important;
	height: 40px;
}

.sideart{
	max-width: 15rem;
}

.card {

    margin: 0 auto; /* Added */
    margin-left: 2.5px;
     float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.projectHead {
	color: #fff;
}